
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Cactus Classical Serif", serif;
  font-size: 15px;
  color: rgb(56, 56, 56);
  line-height: 1.2rem;
}
html {
  scroll-behavior: smooth;
}

.galleryCtn *, .filterBtn, .download *, .date, .credit, .urldate{
  font-family: Overlock, sans-serif;
}

a{
  text-decoration: none;
}

main{
  overflow-x: hidden;
}

section{
  margin: 5rem auto;
}

.text{
  width: 50vw;
  max-width: 660px;
  margin: 2rem auto;
  text-align: left;
  line-height: 1.5;
}

footer .text{
  text-align: center;
  max-width: 40vw;
}



nav {
  width: 96vw;
  left: calc(50% - 48vw);
  position: fixed;
  z-index: 10;
  border-radius: 16px;
  top: 0;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
nav *{
  font-size: 14px;
  font-weight: 600;
}

nav ul, .cardFilter{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 90px;
  margin: 20px auto;
}
.logoUrl{
  width: 30px;
  height: 30px;
  background-color: rgb(1, 209, 209);
  margin-right: 10vw;
}

nav ul li{
  list-style: none;
}
nav ul li a{
}


section.cover{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 50%;
  max-width: 700px;
}
section.linksIntro{
  display: block;
  width: auto;
  max-width: unset;
}

.cover i, .urldate, .credit{
  color: rgb(112, 112, 112);
  font-size: 14px;
  margin-top: 50px;
  font-style: italic;
} 

.profile img{
  width: 100%;
  min-width: 100px;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

h1{
  font-size: 30px;
  line-height: 1.2;
  margin: 1rem auto;
  font-weight: 900;
  font-style: bold;
}
h2{
  font-size: 20px;
  margin: 1rem auto;
  font-family: Caveat, cursive;
  line-height: 1.2;
  color: rgb(255, 0, 140);
  font-weight: 700;
}

h3{
  font-size: 24px;
  margin: 2rem auto;
  text-align: center;
  font-weight: 700;
}


.about .text, .articles .bkRsear{
  max-width: 500px;
}
.bkRsear{
  margin: 9rem auto;
}

.about span,.bkRsear span {
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
}

.hoverImg{
  position: absolute;
  width: 200px;
  z-index: 8;
  top: 20px;
  transition: all 1s ease-in-out;
  pointer-events: none;
}


.bkProfile{
  position: relative;
  z-index: -1;
  pointer-events: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-end;
}
.profileStd{
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about .profileStd{
  background-image: url("../info/stand_bk.png");
  width: 15rem;
  height: 25rem;
  top: 30vh;
  left: 65vw;
}

.articles .profileStd{
  background-image: url("../info/stand_front.png");
  width: 25rem;
  height: 35rem;
  top: -10vh;
  left: 10vw;
}

.methodFlw{
  margin: 2rem auto;
  width: fit-content;
}
.methodFlw img{
  width: 100%;
  max-width: 1960px;
}


.download{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.downloadIcon{
  width: 30px;
  height: 30px;
  background-image: url("../info/download_icon.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.email{
  margin: 2rem auto;
  text-align: center;
}


.galleryCtn{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transition: transform 0.5s ease;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  margin: 0 auto;
  gap: 20px 30px;
  width: 80%;
  max-width: 1600px;
}

.articles .galleryCtn {
  display: block;
  width: unset;
}

.viskit .galleryCtn{
  display: block;
  font-size: 22px;
  line-height: 1.5;
  font-weight: 700;
  width: 60%;
  /* text-align: center; */
}



.cardFilter{
  gap: 20px 0px;
  width: 50%;
  max-width: 1200px;
  flex-wrap: wrap;
  margin: 5rem auto 4rem auto;
}
.filterBtn{
  text-transform: uppercase;
  cursor: pointer;
  font-size: 30px; 
  color: rgba(77, 77, 77, 0.482);
}
.filterBtn.active{
  font-weight: 700;
  color: rgb(255, 0, 132);
}
.filterDot{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(77, 77, 77, 0.482);
  margin: 5px 15px;
  display: inline-block;
}


.card{
  background-size: cover;
  background-position: center;
  /* background-image: url("img/dummy_preview.png"); */
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.131);
  transition: transform 0.6s ease, opacity 0.6s ease;
  cursor: pointer;
  /* -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.086)); */
  /* perspective: 1500px;
  transform-style: preserve-3d;
  perspective-origin: 56% 97%;
  transform: scale3d(1, 1, 1) rotateX(-46deg) rotateY(-45deg) rotateZ(0deg) translate3d(0px, 0px, 0px) skew(0deg, 0deg); */
}

.stories .card{
  width: 240px;
  height: 240px;
  position: relative;
}

.stories .cardTitle, .stories .cardRole{
  width: 240px;
  color: rgb(107, 107, 107);
  text-transform: capitalize;
}
.stories .cardTitle{
  font-size: 16px;
  font-weight: 600;
  margin: 15px auto 6px auto;
}

.articles a .card{
  box-shadow: none;
  background-image: unset;
  -webkit-box-reflect: unset;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: center;
  gap: 40px;
  align-items: center;
  margin: 60px auto;
  border: solid rgba(5, 15, 81, 0.523);
  border-width: 0 0 1px 0;
  border-radius: unset;
  width: fit-content;
}

.articles a .card.hover{
}

.articles .card .boxHd{
  width: 200px;
  height: 100px;
  margin-bottom: 20px;
  background-size: cover;
  background-position: top center;
  /* border-radius: 5px; */
  border: solid 1px rgba(60, 60, 60, 0.163);
}

.articles .card .boxBd{
  max-width: 200px;
  width: fit-content;
  font-weight: 600;
  text-align: right;
}

.articles .card .boxFt{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; 
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 320px;
  transition: all 0.8s ease;
}
.articles .card .boxFt.active{
  -webkit-line-clamp: unset;
  margin-bottom: 30px;
  max-width: 290px;
}

.something .galleryCtn{
  width: 95%;
  align-items: center;
}
.something .card{
  background-image: unset;
  -webkit-box-reflect: unset;
  position: relative;
  box-shadow: none;
}
.something .card video{
  width: 200px;
  height: 200px;
}

.something .cardImg{
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
}

.something .imgCaption{
  width: 80%;
  font-family: "Cactus Classical Serif", serif;
  z-index: 1;
  position: absolute;
  left: 40%;
  top: 70%;
  border-radius: 3px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.405);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 10px;
  color: black;
  text-align: center;
}


.galleryCtn .cardBox {
  display: none;
  position:fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.556);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.086));
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition-delay: 0.5s;
}

.galleryCtn .cardBox.active {
  display: block;
}
.bodyBg.active{
  overflow: hidden;
}

.stories .card.unactive, .cardCtn.unactive, .stories .galleryCtn a.unactive{
  display: none;
}


.stories .cardBox .boxBd{
  overflow: auto;
  width: 70%;
  height: 100%;
  background-color: white;
  margin: 0 auto;
  padding: 50px 20px;
}

.stories .cardBox .boxBd .boxBdItem{
  width: 90%;
  margin: 0 auto;
}
.stories .cardBox img{
  width: 100%;
  margin: 3rem auto;
}

.closeBtn{
  position: absolute;
  font-weight: 300;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  top: 10rem;
  right: 10rem;
  font-size: 50px;
  cursor: pointer;
  transform: rotate(45deg);
}

.soundCtrl, .hoverIcon{
  width: 40px;
  height: 40px;
  background-image: url("../something/mute.png");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  z-index: 5;
  border: 2px solid #0000009d;
  background-color: rgba(240, 248, 255, 0.405);
  transition: all 0.5s ease;
}
.soundCtrl.active{
  background-image: url("../something/sounds.png");
}

.hoverIcon{
  opacity: 0;
}
.hoverIcon.active{
  opacity: 1;
}

.stories .card .hoverIcon{
  top: 80%;
  left: 80%;
}

.articles .card .hoverIcon{
  position: unset;
  border: none;
  width: 40px;
  height: 40px;
}

.insertVideo::-webkit-media-controls {
  display: none !important;
}

.insertVideo {
  height: 100vh;
  width: 101%;
  object-fit: cover;
  user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
}


section.viskit{
  margin-top: 18rem;
}

.collectionBg{
  position: absolute;
  width: 80%;
  height: 50vh;
  left: calc(50vw - 40%);
  top: 300px;
  z-index: -1;
}
.collectionBg video{
  height: 100%;
}
.linksIntro .text, .summary .text{
  width: 45%;
  max-width: 1200px;
  font-size: 22px;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
  background-color: #ffffff19;
  padding: 20px;
  margin: 3rem auto 10rem auto;
}

.viskit .btnTxt, .hllo{
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.5;
}
.urldate, .credit{
  text-align: center;
  margin-top: 1rem;
}
 
.viskit .collapseBtn{
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* gap: 2rem; */
  flex-wrap: wrap;
  align-content: center;
  margin: 0 9px;
  cursor: pointer;
  width: fit-content;
}

.viskit .collapseBtn .btnicon{
  width: 90px;
  height: 90px;
}
.viskit .collapseBtn .btnicon img{
  width: 100%;
  object-fit: cover;
}
.viskit .collapseBtn .btnArr{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 12px;
  border-color: transparent transparent transparent #000000;
  margin-right: 6px;
  rotate: 90deg;
  transition: all 0.5s ease;
}

.collapsePanel{
  display: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
  margin: 1rem auto;
}
.collapsePanel.panelOpen{
  max-height: [content height]px;
  display: block;
  overflow-y: scroll;
}

.viskit .linkCtn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 1rem auto;
  /* width: 90%; */
}

.linkCtn .linkTitle, .linkCtn .linkDesc{
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 500;
}

.linkCtn .linkTitle{
  font-weight: 700;
  background-color: rgb(251, 255, 0);
}


.scrollTxt{
  display: inline-block; 
  animation: scrollLft 50s linear infinite;
}
@keyframes scrollLft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}



@media screen and (max-width: 1440px) {
  nav ul{
    gap: 30px;
  }
  .about .profileStd {
    top: 12vh;
    left: 74vw;
  }
  .stories .cardBox .boxBd {
    width: 80%;
  }
  .closeBtn {
    top: 3rem;
    right: 4rem;
  }
  section.cover{
    margin-top: 7rem;
    width: 80%;
  }
  .profile img {
    max-width: 280px;
  }
  .articles .profileStd {
    top: -7vh;
    left: -7vw;
  }
  .stories .card {
    width: 180px;
    height: 180px;
  }
  .stories .cardTitle, .stories .cardRole{
    width: 180px;
  }
  .cardFilter{
    width:70vw;
    gap: 15px ;
  }
  .galleryCtn{
    width: 90%;
    gap: 20px;
  }
  .articles .galleryCtn {
    width: 90%;
  }
  .articles .card .boxFt{
    max-width: 200px;
  }
  .articles .card .boxBd {
    max-width: 180px;
  }
  .linksIntro .text, .summary .text{
    width: unset;
  }
  .collectionBg{
    height: 20vh;
    top: 340px;
  }
  .viskit .galleryCtn{
    width: 90%;
  }
  .viskit .btnTxt{
    font-size: 30px;
  }
  .viskit .collapseBtn .btnicon {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 580px) {
  nav {
    width: 96vw;
    left: calc(50% - 48vw);
  }
  nav ul, .cardFilter{
    gap: 0px;
    justify-content: space-between;
    margin: 15px 0;
  }
  nav * {
    font-size: 11px;
    line-height: normal;
  }
  .logoUrl {
    width: 20px;
    height: 20px;
    margin-right: 0; 
  }
  section{
    margin: 3rem auto;
  }
  section.cover{
    flex-direction: column;
    width: 85%;
    margin-top: 50px;
    gap: 0;
  }
  .profile img {
    max-width: 160px;
  }
  .text{
    width: 92vw;
  }
  section.cover .text{
    text-align: center;
    width: unset;
  }
  h1{
    font-size: 25px;
  } 
  h2{
    font-size: 20px;
  }
  .about span, .bkRsear span{
    font-size: 15px;
    width: 75%;
    text-align: left;
  }
  .bkRsear span{
    margin-left: 25%;
  }
  .about .profileStd {
    width: 10rem;
    height: 17rem;
    top: 20vh;
    left: 65vw;
  }
  .articles .profileStd {
    width: 10rem;
    height: 20rem;
    top: 0vh;
    left: -6vw;
  }
  .bkRsear {
    margin: 4rem auto;
  }
  .cardFilter{
    width: 80vw;
    margin: 20px auto;
  }
  .filterBtn{
    font-size: 12px;
  }
  .filterDot{
    width: 5px;
    height: 5px;
    margin: 2px 5px;
  }
  .galleryCtn{
    width: 95%;
    gap: 10px;
  }
  .stories .card {
    width: 120px;
    height: 120px;
  }
  .stories .cardTitle, .stories .cardRole{
    width: 120px;
  }
  .articles a .card{
    flex-direction: column;
    gap: 10px;
  }
  .articles .card .boxBd {
    max-width: unset;
    width: 70%;
    text-align: center;
  }
  .articles .card .boxHd{
    width: 80%;
    background-position: center;
  }
  .articles .card .boxFt{
    -webkit-line-clamp: 5; 
    max-width: unset;
  }
  .articles .card .boxFt.active{
    margin-bottom: unset;
    max-width: unset;
  }
  footer .text{
    width: 90vw;
    max-width: unset;
  }

  .stories .cardBox .boxBd {
    width: 99%;
    height: 100%;
    padding: 40px 5px;
  }
  .closeBtn {
    top: 2rem;
    right: 1rem;
    background-color: rgba(240, 248, 255, 0.352);
  }
  .something .galleryCtn{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
  }
  .cardImg {
    width: 200px;
    height: 200px;
  }
  .something .card video{
    width: 150px;
    height: 150px;
  }

  .something .cardImg{
    width: 300px;
    height: 300px;
  }

  .something .imgCaption{
    width: 100%;
    left: -10%;
  }
  .collectionBg{
    top: 530px;
  }
  .viskit .btnTxt{
    font-size: 22px;
  }
  .viskit .galleryCtn {
    font-size: 18px;
  }
  .linkCtn .linkTitle, .linkCtn .linkDesc{
    width: 40vw;
  }
}
@media screen and (max-width: 400px){
  .stories .card {
    width: 90px;
    height: 90px;
  }
  .stories .cardTitle, .stories .cardRole{
    width: 90px;
    font-size: 14px;
  }
  .galleryCtn{
    width: 95%;
    gap: 20px;
  }
}